

.teamwork-form-login {
    background-color: rgb(215, 219, 219);
    width: 300px;
}
.teamwork-form-login .logo{
    font-size:15px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0;
}
.form form input{
    width: 80%;
    border: none;
    border-bottom: 1px solid grey;
    padding: 20px 0;
    margin-left: 30px ;
}
button{
    border-radius: 17px;
    width: 80%;
    margin-left: 30px;
    padding: 8px 0;
    background-color: rgb(19, 19, 141);
    border: none;
}
.option{
    padding: 30px 0;
    margin-left: 70px;
}
.option a{
    text-decoration: none;
    font-size: 15px;
}
.option span{
    font-size: 15px;
    color: grey;
}


